* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

ul {
    list-style-position: inside;
}

.App {
    background-color: #ffbd4a;
}

.container {
    margin: auto;
    width: 100%;
    max-width: 768px;
    background-color: #fff5e7;
    padding: 20px;
}

.rejilla {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-top: 3px solid #ffbd4a;
    border-bottom: 3px solid #ffbd4a;
}

.ladoIzq,
.ladoDer {
    padding: 15px;
}

.ladoIzq {
    border-right: 3px solid #ffbd4a;
}
